
APP_ID = "6"


API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"


TG_BOT_TOKEN = "10010102:2abcdefghijklmnopqrstuvwxyz"


ADMINS = "1234567890"


OWNER = ""


FORCE_SUB_GROUP = 0


FORCE_SUB_CHANNEL = 0


CHANNEL_ID = -100


DATABASE_URL = ""


PROTECT_CONTENT = False

